<div id="main-wrapper">
  <div class="left-box instagram">
    <h2> These are your top Instagram followers </h2>
    <%= paginate @instagram_parsed %>
    <ol>
      <% if @instagram_parsed.empty? %>
        <%= "Instagram has not been authorized" %>
      <% else %>
        <% if @instagram_parsed.length < 200 %>
          <%= render "inst_par"%>
        <% else %>
          <%= render "inst_par2"%>
        <% end %>
      <% end %>
    </ol>
  </div>


  <div class="right-box twitter">
    <h2> These are your top Twitter followers </h2>
    <%= paginate @twitter_parsed %>
    <ol>
      <% if @twitter_parsed.empty? %>
        <%= "Twitter has not been authorized" %>
      <% else %>
        <% if @twitter_parsed.length < 200 %>

           <%= render "tweet_par" %>
        
        <% else %>
        
            <%= render "tweet_par2"%>
          
        
        <% end %>
      <% end %>
    </ol>
  </div>
</div>